$body-bg: #111;

$body-color: rgba(255, 255, 255, 0.9);

$input-colors: (
  'input-background': rgba(50, 50, 93, 0.25),
  'input-boxshadow': rgba(50, 50, 93, 0.25)
);

$theme-colors: (
  'primary': #9857C2,
  'secondary': #3A0CA3,
  'success': #4361EE,
  'info': #4CC9F0,
  'warning': #ac5b2c,
  'danger': #88193a,
  'light': #c8c8c8,
  'dark': #2f2f2f
);

@import 'bootstrap/scss/bootstrap';
