$body-bg: linear-gradient(0deg, #9857c2, #4361ee 40%, #9857c2);

$body-color:  #111;

$theme-colors: (
  'primary': #9857C2,
  'secondary': #3A0CA3,
  'success': #4361EE,
  'info': #4CC9F0,
  'warning': #ac5b2c,
  'danger': #88193a,
  'light': #c8c8c8,
  'dark': #2f2f2f
);

@import 'bootstrap/scss/bootstrap';
